{% if nodes is not empty %}
<h3 class="titre"><a href="{{ url }}">{{ titre }}</a></h3>
<div class="homelisting count-{{ nodes|length }}">
	<div class="inner clearfix">
		{% for nod in nodes %}
				{{ nod }}
		{% endfor %}
	</div>
</div>
<div class="more">
	<a href="{{ url }}">{{ urltxt }}</a>
</div>
{% endif %}