<div class="footerbox contct">
	<h1 class="titre">{{ 'Contact LibertyTV'|t }}</h1>
	<ul id="contact-links" class="clearfix">{{ output }}</ul>
	<div class="openinghours">{{ openinghours }}</div>
</div>
<div class="footerbox testimonials">
	<h1 class="titre">{{ 'Your review on our site'|t }}</h1>
	<div class="openinghours">
		<a href="/testimonials">{{ 'Your anonymous review on our site'|t }}</a>
	</div>
</div>